.address-header {
    padding: 15px 0;
}

.mat-form-field {
    width: 100%;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
    .mat-form-field {
        width: 300px;
        margin: 0 15px 0 0;
        // display: block;  
    }
}
