
.order-stepper {
    width: 100%;
    // margin-right: 30px;
    padding: 0 15px;
    a {
        color: #9acd32;
    }
    .h-line {
        width: 70px;
        border-bottom: 1px solid #9acd32;
    }
    a:hover {
        text-decoration: none;
    }
    mat-icon {
        margin-right: 10px;
    }
}
@media (min-width: 768px) {
    .order-stepper {
        display: flex;
        width: 370px;
    }
}