.container {
    max-height: 100vh;
    overflow: auto;
    border-left: 5px solid #9acd32;
    .ad-content {
        display: none;
    }
    .login-form-wrapper {
        padding: 20px 0;
    }
    .mobile-number {
        width: 165px;
    }
    mat-form-field {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        display: flex;
        width: 700px;
        padding: 0;
        .ad-content {
            display: block;
            background-color: #9acd32;
            width: 30%;
            .add-content-logo {
                padding-left: 15px;
            }
        }
        .login-form-wrapper {
            width: 70%;
            padding: 20px;

            mat-form-field {
                width: 300px;
            }
        }
    }
}
