.container {
    display: flex;
    // margin-top: 105px;
    width: 700px;
    padding: 0;
    // margin-bottom: 125px;

    .login-title {
        font-weight: bold;
    }

    .ad-content {
        background-color: #9acd32;
        width: 30%;
    }
    .login-form-wrapper {
        width: 70%;
        padding: 20px;

        mat-form-field {
            width: 300px;
        }
    }
}
