.cart-container {
    margin-left: 20px;
    margin-bottom: 10px;
    & > .row {
        margin-right: 0;
    }
    .empty-cart {
        width: 100%;
        margin: 15px;
    }
    .left-card-container {
        .cart-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .cart-item {
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:last-child {
                border-bottom-style: none;
            }
        }
        h5 {
            display: inline;
        }
    }
    mat-card {
        min-height: 200px;
        margin-top: 20px;
    }
    
    .checkout-btn {
        width: 200px;
    }
}

.header-wrapper {
    flex-direction: column-reverse;
    h3 {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .product-image {
        max-width: 145px;
    }
    
    .header-wrapper {
        flex-direction: row;
        h3 {
            margin-top: 0;
        }
    }
}