<div class="cart-container">
  <div class="flex-align-center header-wrapper">
    <h3> My Basket({{cartList.length}})</h3>
    <app-order-steps *ngIf="cartList.length"></app-order-steps>
  </div>
  <div class="row" *ngIf="cartList.length">
    <div class="col-md-7 left-card-container">
      <mat-card>
        <mat-card-content>
          <div class="cart-card-header border-bottom pb-3">
            <div class="left">
              <h5> Basket</h5> ({{cartList.length}} items)
            </div>
            <div class="right">
              <h5> ₹{{totalCost}}</h5>
            </div>
          </div>
          <div class="cart-card-body mt-3">
            <div class="cart-item ml-2" *ngFor="let item of cartList">
              <div class="row">
                <img class="col-4 col-md-3 product-image" [src]="item.image">
                <div class="col-md-9 col-8">
                  <h6>{{item.titlaText}} {{item.unit}}</h6>
                  <div class="pr-4 flex-align-center position-absolute-bottom">
                    <h6> ₹ {{ item.price * item.qty }} </h6>
                    <app-qty-plus-minus [item]="item"> </app-qty-plus-minus>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-5 right-card-container">
      <mat-card class="position-relative">
        <mat-card-content>
          <h5 class="border-bottom pb-3"> Total </h5>
          <div class="row">
            <h6 class="col-8">Basket Total</h6>
            <h6 class="col-4"><div class="text-right mr-3">₹ {{ totalCost }}</div></h6>
          </div>
          <div class="row">
            <h6 class="col-8">Delivery Charges</h6>
            <h6 class="col-4"><div class="text-right mr-3">₹ 0</div> </h6>
          </div>
          <div class=" border-bottom"></div>
          <div class="row mt-2">
            <h5 class="col-8">Total Amount</h5>
            <h5 class="col-4"><div class="text-right mr-3">₹ {{ totalCost }} </div></h5>
          </div>
          <div>
            <div class="flex-justify-center mt-3">
              <button mat-raised-button class="checkout-btn" color="primary" routerLink="/order-summary">Checkout</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row" *ngIf="!cartList.length">
    <mat-card class="empty-cart position-relative">
      <mat-card-content>
        <div class="flex-justify-center flex-column">
          <h5>Your basket is empty!</h5>
          <div class="flex-justify-center position-absolute-bottom">
            <button mat-raised-button color="primary" routerLink="/home">Add fresh products</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>