<mat-sidenav-container class="wrapper">
  <mat-sidenav #sidenav fixedInViewport='true' mode="side" mode="over" class="example-sidenav"
    [ngStyle]="{ 'width.em': sidenavWidth }" opened="false" (mouseenter)="increase()">
    <mat-nav-list class="hoverItem">
      <ng-container *ngFor='let item of sideBarPath; let item1'>
        <mat-list-item [routerLink]="item.path" routerLinkActive="active" class="sidenav-item1"
          >
          <mat-icon md-list-icon [style.color]="item.iconColor?item.iconColor:''">{{item.icon}}</mat-icon>
          <div *ngIf="sidenavWidth > 4" class="sidenav-item ml-2 mt-2">
            <a (click)="navItemClick(item1)">{{item.title}}</a>
          </div>
          <mat-icon md-list-icon class="mt-1 ml-5" 
              *ngIf="item.isChildVisible && item.isMore" (click)="toggleMoreButton(item1)">expand_more</mat-icon>
          <mat-icon md-list-icon class="mt-1 ml-5" 
               *ngIf="item.isChildVisible && !item.isMore" (click)="toggleMoreButton(item1)">expand_less</mat-icon>
        </mat-list-item>
        <div class="child-nav-wrapper" *ngIf="item.isChildVisible && !item.isMore"> 
          <ng-container *ngFor="let child of item.isChildVisible">
            <div mat-line class="childItem">
              <img class="avatar" [src]="child.icon">
              <span class="childNavItem">{{child.title}}</span>
           </div>
          </ng-container>
          
         </div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button mat-icon-button class="app-menu-button" (mouseover)="sidenav.toggle()">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <a routerLink="home" href="javascript:void(0)">
      <img src="../assets/logo_w.png" style="border-radius: 50%;">
    </a>
    <span class="spacer"></span>
    <div class="loginSection">
      <button mat-button *ngIf="!isLogin" (click)="openLoginDialog()">
        <mat-icon class="white-icon">person</mat-icon>
        <span class="btn-label">Login</span>
      </button>
      <div *ngIf="isLogin">
        <button mat-button [matMenuTriggerFor]="profileMenu">
          <mat-icon class="white-icon">person</mat-icon>
          <span class="btn-label">Hello {{userData.fName | uppercase}}</span>
        </button>
        <mat-menu #profileMenu="matMenu" yPosition="below" overlapTrigger="false">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
      <button mat-button (click)="openCart()">
        <mat-icon class="white-icon">shopping_cart</mat-icon>
        <span class="badge" *ngIf="cartCount">{{cartCount}}</span>
        <span class="btn-label">Basket</span>
      </button>
    </div>
    <!-- <div class="loginSection row">
      <div class="col-xs-6">
        <button mat-button *ngIf="!isLogin"  (click)="openLoginDialog()">
          <mat-icon class="icon" class="cartIcon">person</mat-icon>
          <span class="btn-label">Login</span>
        </button>
        <button mat-button *ngIf="isLogin" >
          <mat-icon class="icon" class="cartIcon">person</mat-icon>
           <span class="btn-label">Hello Lokesh</span>
        </button>
      </div>
      <div class="col-xs-6">
        <button mat-icon-button (click)="openCart()">
          <mat-icon class="icon" class="cartIcon">shopping_cart</mat-icon>
          <span class="badge" *ngIf="cartCount">{{cartCount}}</span>
          <span class="btn-label">Bag</span>
        </button>
      </div>
    </div> -->
  </mat-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  <div class="clear"></div>
  <mat-toolbar color="primary" class="page-footer footer">
    <!-- Footer -->
    <footer class="font-small blue">
      <!-- Copyright -->
      <div class="footer-copyright text-center">© 2020 Copyright:
        freshMart@co.pvt.ltd
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </mat-toolbar>
 
</mat-sidenav-container>
<app-imagepopup ></app-imagepopup>
<app-page-spinner></app-page-spinner>
