<mat-sidenav-container class="wrapper">
  <mat-sidenav #sidenav fixedInViewport='true' mode="side" mode="over" class="example-sidenav"
    [ngStyle]="{ 'width.em': sidenavWidth }" opened="false" (mouseenter)="increase()">
    <mat-nav-list class="hoverItem">
      <ng-container *ngFor='let item of sideBarPath'>
        <mat-list-item [routerLink]="item.path" routerLinkActive="active" class="sidenav-item1"
          (click)="decrease(sidenav)">
          <mat-icon md-list-icon>{{item.icon}}</mat-icon>
          <div *ngIf="sidenavWidth > 4" class="sidenav-item ml-2">
            <a>{{item.title}}</a>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button mat-icon-button class="app-menu-button" (mouseover)="sidenav.toggle()">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <img src="../assets/logo_w.png" style="border-radius: 50%;">
    <!-- <div class="pull-right"><span class="ml-0"> -->
    <!-- <img class="rounded" style="width: 120px;align:pull-right" src="./assets/warriors.jpg" />
      </span></div> -->
    <span class="spacer"></span>
    <div class="loginSection">
        <button mat-button *ngIf="!isLogin"  (click)="openLoginDialog()">
          <mat-icon class="white-icon">person</mat-icon>
          <span class="btn-label">Login</span>
        </button>
        <button mat-button *ngIf="isLogin" >
          <mat-icon class="white-icon">person</mat-icon>
           <span class="btn-label">Hello Lokesh</span>
        </button>
        <button mat-button (click)="openCart()">
          <mat-icon class="white-icon">shopping_cart</mat-icon>
          <span class="badge" *ngIf="cartCount">{{cartCount}}</span>
          <span class="btn-label">Basket</span>
        </button>
    </div>
    <!-- <div class="loginSection row">
      <div class="col-xs-6">
        <button mat-button *ngIf="!isLogin"  (click)="openLoginDialog()">
          <mat-icon class="icon" class="cartIcon">person</mat-icon>
          <span class="btn-label">Login</span>
        </button>
        <button mat-button *ngIf="isLogin" >
          <mat-icon class="icon" class="cartIcon">person</mat-icon>
           <span class="btn-label">Hello Lokesh</span>
        </button>
      </div>
      <div class="col-xs-6">
        <button mat-icon-button (click)="openCart()">
          <mat-icon class="icon" class="cartIcon">shopping_cart</mat-icon>
          <span class="badge" *ngIf="cartCount">{{cartCount}}</span>
          <span class="btn-label">Bag</span>
        </button>
      </div>
    </div> -->
  </mat-toolbar>


  <!-- <mat-toolbar class="mat-elevation-z5" color="primary">
    <div class="float-left"><span class="ml-0"><img  src="./assets/warriors.jpg" 
       style="width:120px;margin-left: -10px;"></span></div>
    <h5 class="ml-5">The Warriors (bhopal city information portal) </h5>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
  </mat-toolbar> -->

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  <div class="clear"></div>
  <mat-toolbar color="primary" class="page-footer footer">
    <!-- Footer -->
    <footer class="font-small blue">
      <!-- Copyright -->
      <div class="footer-copyright text-center">© 2020 Copyright:
        freshMart@co.pvt.ltd
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </mat-toolbar>

</mat-sidenav-container>