/* You can add global styles to this file, and also import other style files */
@import 'angular-material-demo-theme.scss';
@import "~bootstrap/dist/css/bootstrap.css";


body {
  margin: 0;
}
.pointer {cursor: pointer !important;}

/*

.grid-test-1 > figure.mat-figure {
  justify-content: flex-start !important;
}
*/
.mat-drawer-container{
  height: 100vh;
}
.page-footer{
  bottom: 0 !important;
}
.header{
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 999 !important;

}
.spacer {
  flex: 1 1 auto;
}
.white-icon{
  color:aliceblue !important;
}

.mat-dialog-container {
  padding: 0 !important;
  // box-shadow: 4px 4px 14px 0px rgba(154,205,50,1) !important;
}

button.mat-primary{
  background-color: #9acd32 !important;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.position-absolute-bottom{
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.position-relative {
  position: relative;
}
.width-100 {
  width: 100%;
}
.mat-menu-panel {
  width: 165px;
  button {
    line-height: 30px;
    height: 30px;
    outline: none;
  }
}